<section class="songs songs--all">
	<h1>All songs</h1>
	<div>
		
		<ul class="song__list clearfix">
			<% songs.each do |song| %>	
				<li>
					<figure class="song">
						<p class="song__title"><a href="/songs/<%= song.id %>" rel="bookmark"><%= song.artist %>: <%= song.title %></a></p>
						<iframe src="https://embed.spotify.com/?uri=<%= song.spotify_url %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
						<figcaption>
							<p>
								<span class="song__label">Album: </span><%= song.album %><br>
								<span class="song__label">Released: </span><%= song.release_year %>
							</p>
							<div class="song__likes"><span class="song__label">Likes: </span> <%= song.likes %> <a class="btn" href="/songs/like/<%= song.id %>">Like</a></div>
						</figcaption>
						<p><a href="/songs/edit/<%= song.id %>">Edit song</a></p>
						<p><a href="/songs/delete/<%= song.id %>">Delete song</a></p>
					</figure>
				</li>
			<% end %>		
		</ul>
		
		<p><a href="/songs/new">Add a song</a></p>

	</div>	
</section>
